/* nav bar */
@media (min-width: 992px) {
    [data-aos="change-colour"] {
        background-color: transparent;
        transition-property: transform, background-color;
    }

    [data-aos="change-colour"].aos-animate {
        background-color: rgba(0, 0, 0, 1);
    }
}

nav.navbar {
    position: fixed;
    margin-left: auto;
    width: 100vw;
    z-index: 800;
}

@media (max-width: 992px) {
    nav.navbar {
        background: black;
    }
}

.nav-brand h2 {
    color: var(--variant-bg-active-colour);
}

a {
    color: var(--variant-bg-active-colour);
}

@media (max-width: 992px) {
    h2 {
        font-size: 1.5rem;
    }
}

.nav-link {
    font-weight: bolder!important;
    font-size: 18px!important;
    color: var(--variant-bg-active-colour)!important;
    border: 2px solid transparent;
    margin-right: 1em!important;
}

a:hover {
    color: var(--clear-colour);
}

a.nav-link.active {
    color: var(--variant-bg-active-colour);
    border: 2px solid var(--variant-bg-active-colour);
}
